$font-display: "Helvetica Neue", Georgia, serif;
$font-text: "Helvetica Neue", Helvetica, Arial, sans-serif;
$default-font-size: 14;
$font-size-small-percentage: (11/$default-font-size) * 1em;

$font-size-mobile: 16px;
$font-size-tablet: $default-font-size * 1px;
