// Set application breakpoint
$breakpoint-small: 300px;
$breakpoint-medium: 740px;
$breakpoint-large: 1024px;

// Add readable friendly names to breakpoints
@include add-breakpoint('small', $breakpoint-small);
@include add-breakpoint('medium', $breakpoint-medium);
@include add-breakpoint('large', $breakpoint-large);


// Grid configuration
$max-grid-width: 640px;
$grid-columns: 12;


$widget-grid: (
  columns: $grid-columns,
  gutter: 0.43em,
  direction: ltr
);

$widget-grid-small: (
  columns: $grid-columns,
  gutter: 0.43em,
  media: $breakpoint-small
);

$widget-grid-medium: (
  columns: $grid-columns,
  gutter: 0.43em,
  media: $breakpoint-medium
);


$widget-grid-large: (
  columns: $grid-columns,
  gutter: 0.43em,
  media: $breakpoint-large
);

.widget-grid {
  @include grid-container($widget-grid);

  .single-column {
    margin-bottom: 0.43em;
    
    &:nth-child(3n+1) {
      clear: left;
    }

    @include grid-media($widget-grid-small) {
      @include grid-column(12);
    }
    
    @include grid-media($widget-grid-medium) {
      @include grid-column(4);
    }
  }
}