// Set application helper mixins
@mixin clearfix {
  &:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

@mixin translate($Posa, $Posb) {
  -moz-transform: translate($Posa, $Posb);
  -webkit-transform: translate($Posa, $Posb);
  -o-transform: translate($Posa, $Posb);
  -ms-transform: translate($Posa, $Posb);
  transform: translate($Posa, $Posb);
}

@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
    opacity: 0.34;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
    opacity: 0.34;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
    opacity: 0.34;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
    opacity: 0.34;
  }
}