// Sets border-box as box sizing globally
html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; }

// Sets basic body styles
body {
  font-family: $font-text;
  font-size: 1em;
  line-height: 1.5;
  color: $white;
  background: $slate;
}
