.toolbar {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  padding-top: 9px;

  @include grid-column($grid-columns, $widget-grid);

  .company-email {
    flex: 1;
    margin-right: 1em;
    opacity: 0.52;
  }
  
  .edit-mode-toggler {
    text-transform: uppercase;
    text-align: center;
    background-color: $slate-darker;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
    float: right;
    padding: 0.5em;
    height: 2.143em;

    .pencil-icon {
      opacity: 0.52;
      width: 1.2em;
      height: 1.2em;
    }

    label {
      font-size: $font-size-small-percentage;
      display: none;
      cursor: inherit;
    }

    // Default mode hover interaction
    &:hover {
      background-color: $strong-pink;

      .pencil-icon {
        opacity: 1;
      }
    }

    // Edition mode interaction handling
    &.editing {
      background-color: $strong-pink;

      .pencil-icon {
        display: none;
      }

      label {
        display: block
      }
    }
  }
}