.metric.creator {
  background-color: rgba($charcoal-grey, 0.28);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  // border-image-source: url('/static/dotted-square.svg');
  // border-image-slice: 10%;
  // border-image-repeat: round;
  border-style: dashed;
  border-width: 1px;
  border-color: rgba($light-pink, 0.28);
  border-radius: 2px;
  cursor: pointer;

  .new-metric-label {
    font-size: 0.85em;
    text-transform: uppercase;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 3.5em;
    opacity: 0.75;

    .cross-icon {
      width: 1em;
      height: 1em;
    }

    span {
      padding: 0 1em;
    }
  }
}