.metric-widget {
  @include clearfix;
  font-size: 1em;
  max-width: 90%;
  margin: 0 auto;
  padding: 1em 0;
  
  .top-row {
    @include clearfix;
    padding-bottom: 1em;
    background-color: $slate;
    color: $white;
    
    .logo {
      width: 117px;
      height: 35px;
      margin-left: 1em;
    }
  }

  .content-row {
    @include clearfix;
    padding-bottom: 1em;
  }

  @include respond-to('medium') {
    max-width: 640px;
  }
}