.metric {
  @include clearfix;
  display: block;
  position: relative;
  padding: 0.65em;
  min-height: 4.7em;
  border-radius: 2px;
  background-color: $light-grey;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  color: $white;

  .view {
    .name {
      font-size: 1em;
      text-align: left;
      opacity: 0.75;

      .pencil-icon {
        display: inline-block;
        width: 1em;
        height: 1em;
        opacity: 0;
      }

      .edit {
        width: 100%;
        background: inherit;
        text-shadow: none;
        color: inherit;
        outline: none;
        border: none;
        font-size: inherit;
        font-family: inherit;
        letter-spacing: inherit;
        padding: 0px;
  
        @include placeholder-color($white);
      }
    }

    .metadata-list {
      padding: 0.72em 0 0 0;
      list-style: none;

      .item {
        font-size: $font-size-small-percentage;
        font-weight: 300;
        font-style: italic;
        opacity: 0.45;
      }
    }    

    .delete-metric {
      position: absolute;
      right: 0.65em;
      bottom: 0.65em;
      cursor: pointer;
      display: none;

      .delete-icon, .delete-icon-hovered {
        width: 1em;
        height: 1em;
      }

      .delete-icon-hovered {
        display: none;
      }
    }
  }

  // Edition and mode interactions effects 

  &.editable {
    .view {
      .name {
        label {
          cursor: pointer;
        }
      }

      .delete-metric {
        display: inherit;

        &:hover {
          // effect between delete svg icons
          .delete-icon {
            display: none;
          }

          .delete-icon-hovered {
            display: inherit;
          }
        }
      }
    }

    // Special hover interactions
    &.hovered {
      .name {
        .pencil-icon {
          opacity: 0.75;
        }

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

