<template>
  <li class="metric single-column" 
    v-bind:class="{ hovered: hovered, editable: isEditModeOn === true }" 
    v-on:mouseover="hovered = true" 
    v-on:mouseout="hovered = false">
    <div class="view">    
      <div class="name large-text" v-on:click="selectMetric(metric)">
        <label v-text="metric.name"
          v-bind:class="{ hidden: isActiveMetric(metric) }"></label>
        <input type="text" class="edit"
          v-show="isActiveMetric(metric)"
          v-focus="isActiveMetric(metric)"
          :value="metric.name"
          @keyup.enter="saveEdit"
          @keyup.esc="cancelEdit"
          @blur="cancelEdit">
        <span class="pencil-icon">
          <svg class="svg-icon">
            <use xlink:href="#pencil"/>
          </svg>
        </span>
      </div>
      
      <ul class="metadata-list">
        <li class="item" v-for="item in metric.metadata">
          {{ item }}
        </li>
      </ul>

      <div class="delete-metric" v-on:click="deleteMetric(metric)" v-on:mouseover="$event.stopPropagation()">
        <div class="delete-icon">
          <svg class="svg-icon">
            <use xlink:href="#delete"/>
          </svg>
        </div>
        <div class="delete-icon-hovered">
          <svg class="svg-icon">
            <use xlink:href="#delete-hovered"/>
          </svg>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'

export default {
  name: 'MetricItem',
  props: {
    metric: {
      type: Object
    }
  },

  data () {
    return {
      hovered: false
    }
  },

  computed: {
    ...mapGetters([
      'isEditModeOn',
      'isActiveMetric'
    ])
  },

  methods: {
    ...mapActions([
      'setActiveMetric',
      'deleteMetric',
      'editMetric'
    ]),

    selectMetric () {
      // if we are in "edit mode", then the selection is permitted.
      // otherwise, ignore it
      if (this.isEditModeOn === true) {
        this.setActiveMetric(this.metric)
      }
    },

    saveEdit (event) {
      const metricName = event.target.value.trim()

      // check if name has smth. If not, then ignore it
      if (metricName) {
        this.editMetric({
          metric: this.metric,
          name: metricName
        })
      }
      this.editionCompleted()
    },

    cancelEdit () {
      this.editionCompleted()
    },

    editionCompleted () {
      // 'resets' the active metric
      this.setActiveMetric({})
    }
  },

  directives: {
    focus (el, { value }, { context }) {
      if (value) {
        context.$nextTick(() => {
          el.focus()
        })
      }
    }
  }

}
</script>
