<template>
  <ul class="metric-list">
    <MetricItem v-for="(metric, index) in getMetricsList" v-bind:key="index" v-bind:metric="metric"/>
    <MetricCreator />
  </ul>
</template>

<script>
import MetricItem from '@/components/MetricItem'
import MetricCreator from '@/components/MetricCreator'

import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'MetricList',

  mounted () {
    this.getMetrics()
  },

  methods: {
    ...mapActions([
      'getMetrics'
    ])
  },

  computed: {
    ...mapGetters([
      'getMetricsList'
    ])
  },

  components: {
    MetricItem,
    MetricCreator
  }
}
</script>
