<template>
  <div class="toolbar">
    <div class="large-text company-email">
    {{ email }}
    </div>
    <div class="edit-mode-toggler"
      v-on:click="toggleEditMode"
      v-bind:class="{editing: isEditModeOn}">
      <div class="pencil-icon">
        <svg class="svg-icon">
          <use xlink:href="#pencil"/>
        </svg>
      </div>
      <label>Exit edition mode</label>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'

export default {
  name: 'MetricToolbar',
  data () {
    return {
      editing: false,
      email: 'averyverylargeemailhere@company.comaveryverylargeemailhere@company.comaveryverylargeemailhere@company.comaveryverylargeemailhere@company.com'
    }
  },

  computed: {
    ...mapGetters([
      'isEditModeOn'
    ])
  },

  methods: {
    ...mapActions([
      'toggleEditMode'
    ])
  }
}
</script>
