<template>
  <div class="metric-widget widget-grid">
    <section class="top-row">
      <div class="logo">
        <svg class="svg-icon">
          <use xlink:href="#logo"/>
        </svg>
      </div>
      <MetricToolbar />
    </section>
    <section class="content-row">
      <MetricList />
    </section>
  </div>
</template>

<script>
import MetricToolbar from '@/components/MetricToolbar'
import MetricList from '@/components/MetricList'

export default {
  name: 'metric-widget',
  data () {
    return {
    }
  },

  components: {
    MetricToolbar,
    MetricList
  }
}
</script>
