<template>
  <li class="metric single-column" v-bind:class="{ creator: !creatingMetric }" v-on:click="creatingMetric = true">
    <div class="new-metric-label"
      v-if="creatingMetric === false">
      <div class="cross-icon">
        <svg class="svg-icon">
          <use xlink:href="#cross"/> 
        </svg>
      </div>
      <span>Create new metric</span>
    </div>
    <div class="view" v-else>
      <div class="name large-text">
        <input type="text" class="edit"
        v-show="creatingMetric"
        v-focus="creatingMetric"
        :value="metric.name"
        @keyup.enter="createMetric"
        @keyup.esc="cancelCreation"
        @blur="cancelCreation"
        placeholder="New metric name">
      </div>
    </div>    
  </li>
</template>

<script>
const randomMetrics = [
  [],
  ['Monthly resolution'],
  ['162 updates', 'Monthly resolution'],
  ['Limit X reached', '162 updates', 'Monthly resolution']
]

export default {
  name: 'MetricCreator',
  data () {
    return {
      creatingMetric: false,
      metric: {
        name: ''
      }
    }
  },

  methods: {
    getRandomMetadata () {
      let max = randomMetrics.length
      let min = 0
      return randomMetrics[Math.floor(Math.random() * (max - min - 1)) + min]
    },

    createMetric (event) {
      const metricName = event.target.value.trim()

      this.$store.dispatch('addMetric', {
        name: metricName,
        metadata: this.getRandomMetadata()
      })

      this.creationCompleted()
    },

    creationCompleted () {
      this.creatingMetric = false
    },

    cancelCreation () {
      this.creationCompleted()
    }
  },

  directives: {
    focus (el, { value }, { context }) {
      if (value) {
        context.$nextTick(() => {
          el.focus()
        })
      }
    }
  }
}
</script>
