<template>
  <div id="app" class="app">
    <metric-widget></metric-widget>
  </div>
</template>

<script>
import MetricWidget from '@/components/MetricWidget'

export default {
  name: 'app',
  components: {
    MetricWidget
  }
}
</script>

<style lang="scss">
@import './assets/styles/app.scss';

</style>
